html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Jost'
}
body {
    height: 100vh;
    width: 100vw;
}
.hide {
    display: none;
}
.flex {
    display: flex;
}
.header {
    height: 3vh;
    background-color: #0065a9;
    color: white;
    padding: 2vh 2vw;
    font-size: 3vh;
}
.body {
    display: flex;
    height: 83vh;
    background-color: #ebeff2;
    padding: 5vh 5vw;
}
.nav {
    height: 83vh;
    width: 25vw;
}
.img-box {
    height: 20vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2vh;
}
.img-box img {
    height: 80%;
    width: 80%;
}
.img-box img:hover {
    filter: brightness(0) saturate(100%);
}
.selected-page {
    background-color: white;
}
.selected-page img {
    filter: brightness(0) saturate(100%);
}
.main {
    height: 80vh;
    width: 95vw;
    background-color: white;
    border-radius: 2vh;
}
.pages {
    height: 70vh;
    width: 60vw;
    padding: 5vh 5vw;
    font-size: 3vh;
    flex-direction: column;
}
.pages div {
    padding-bottom: 4vh;
}
.projects-page {
    overflow-y: scroll;
}
.title {
    font-size: 5vh;
    text-decoration: underline;
    padding-bottom: 4vh;
    font-weight: bold;
}
.bar {
    fill: #aaa;
    transition: fill .3s ease;
    cursor: pointer;
    font-family: 'Jost'
}
.bar:hover {
    fill: #ff4a25;
}
.bar text {
    font-size: 0.1vh;
    fill: #555
}
.skills-page svg {
    width: 50vw;
    height: 53vh;
}
.graphs-page svg {
    width: 50vw;
    height: 50vh;
}
.skills-page div, .graphs-page div {
    font-size: 2vh;
}
.graphs-page .dropdown div {
    padding-bottom: 0;
}
.exp-graph .grid {
    stroke: #ccc;
    stroke-dasharray: 0;
}
.exp-graph polyline {
    fill: none;
    stroke: #0074d9;
}
.exp-graph text {
    font-size: 0.2vh;
}
.x-grid, .y-grid, .exp-graph polyline { 
    stroke-width: 0.1px;
}
.grid {
    height: 100%;
    width: 100%;
}
.dropbtn {
    background-color: #0e99f6;
    color: white;
    padding: 2vh 2vw;
    font-size: 2vh;
    border: none;
    border-radius: 1vh;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 25vw;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 22vw;
    box-shadow: 0vw 1vh 2vh 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 2vh 2vw;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
